<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395675714464-ktlt9bmvelvpqhrohcti9e6dbq6evuk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395675714464-ktlt9bmvelvpqhrohcti9e6dbq6evuk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCNjNMuj5mJVo6viB-1cxmjQ5vk_HyFDcM</string>
	<key>GCM_SENDER_ID</key>
	<string>395675714464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prerak.studybuddy</string>
	<key>PROJECT_ID</key>
	<string>studybuddy-33</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddy-33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395675714464:ios:64a578b9d3cdf1313bdac5</string>
</dict>
</plist>